<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>LaLaの湯 - SHOW</title>
  <meta name="robots" content="noindex, nofollow" />
  <!-- 非公開設定 -->

  <!-- CSS -->
  <link rel="icon" type="image/png" href="images/温泉マークのアイコン素材 1.png" />
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Philosopher&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>

<body>
  <header>
    <div class="header-logo">
      <a href="/"><i>LaLa<small>の</small>湯</i></a>
      <ul>
        <li><a href="/">ホーム</a></li>
        <li><a href="/infos">おしらせ</a></li>
        <li><a href="/cookings">お食事</a></li>
        <li><a href="/lalas/new">お問い合わせ</a></li>
      </ul>
    </div>
  </header>

  <label for="open-close">
    <nav>
      <input type="checkbox" id="open-close" />
      <img src="images/menu.png" alt="" id="menu-btn">
      <ul id="menu">
        <li><a href="index.html">ホーム</a></li>
        <li><a href="new.html">お知らせ</a></li>
        <li><a href="cooking.html">お食事</a></li>
        <li><a href="contact.html">お問い合わせ</a></li>
        <li><a href="#section-warp">営業時間</a></li>
        <li><a href="#section-warp">料金案内</a></li>
        <li><a href="#access-warp">アクセス</a></li>
      </ul>
    </nav>
  </label>

  <div class="h2_f">
    <h2>施設案内</h2>
  </div>

  <main>
    <div class="show-content wrapper">
      <h3>露天風呂</h3>
      <p>景色を見ながら開放的な露店風呂をお楽しみ下さい！サルもいます(笑)</p>
    </div>

    <article>
      <div class="big_f1">
        <div id="scroll_e"></div>
        <!-- イベント発生箇所 -->

        <ul>
          <li class="box">
            <img id="bigimg" />
          </li>
          <li>
            <div class="zoomOut none_e1 hidden">
              <a><span class="mask"><img src="images/thumb-img1.png" class="thumb" alt="露天風呂1" /></span></a>
            </div>
          </li>
          <li>
            <div class="zoomOut none_e hidden">
              <a><span class="mask"><img src="images/thumb-img2.png" class="thumb" alt="露天風呂1" /></span></a>
            </div>
          </li>
          <li>
            <div class="zoomOut none_e hidden">
              <a><span class="mask"><img src="images/thumb-img3.png" class="thumb" alt="露天風呂1" /></span></a>
            </div>
          </li>
          <li>
            <div class="zoomOut none_e hidden sepia">
              <a><span class="mask"><img src="images/thumb-img4.png" class="thumb" alt="露天風呂2" /></span></a>
            </div>
          </li>
          <li>
            <div class="zoomOut none_e1 hidden">
              <a><span class="mask"><img src="images/thumb-img5.png" class="thumb" alt="露天風呂3" /></span></a>
            </div>
          </li>
          <li>
            <div class="zoomOut none_e1 hidden">
              <a><span class="mask"><img src="images/thumb-img6.png" class="thumb" alt="露天風呂3" /></span></a>
            </div>
          </li>
          <li>
            <div class="zoomOut none_e1 hidden sepia">
              <a><span class="mask"><img src="images/thumb-img14.png" class="thumb" alt="露天風呂3" /></span></a>
            </div>
          </li>
        </ul>
      </div>
    </article>

    <div class="show-content wrapper">
      <h3>室内</h3>
      <p>男湯と女湯が日替わりで楽しめます。</p>
    </div>

    <article>
      <div class="big_f">
        <div class="thumb-img_f1">
          <img src="images/img7.png" id="bigimg_2" />

          <ul class="hidden">
            <li>
              <div class="zoomOut">
                <a><span class="mask"><img src="images/thumb-img7.png" class="thumb_2" alt="露天風呂7" /></span></a>
              </div>
            </li>
            <li>
              <div class="zoomOut">
                <a><span class="mask"><img src="images/thumb-img8.png" class="thumb_2" alt="露天風呂8" /></span></a>
              </div>
            </li>
            <li>
              <div class="zoomOut">
                <a><span class="mask"><img src="images/thumb-img9.png" class="thumb_2" alt="露天風呂9" /></span></a>
              </div>
            </li>
          </ul>
        </div>

        <div class="thumb-img_f2">
          <ul class="hidden">
            <li>
              <div class="zoomOut">
                <a><span class="mask"><img src="images/thumb-img10.png" class="thumb_2" alt="露天風呂10" /></span></a>
              </div>
            </li>
            <li>
              <div class="zoomOut">
                <a><span class="mask"><img src="images/thumb-img11.png" class="thumb_2" alt="露天風呂11" /></span></a>
              </div>
            </li>
            <li>
              <div class="zoomOut">
                <a><span class="mask"><img src="images/thumb-img12.png" class="thumb_2" alt="露天風呂12" /></span></a>
              </div>
            </li>
            <li>
              <div class="zoomOut sepia">
                <a><span class="mask"><img src="images/thumb-img13.png" class="thumb_2" alt="露天風呂12" /></span></a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </article>

    <div id="section-warp"></div>
    <h2>営業時間＆料金案内</h2>

    <article class="money_f">
      <div class="time">
        <h3>開館時間</h3>
        <p>11:00～20:00</p>
        <span>最終入館 19:00</span>
      </div>

      <div id="slide_e1"></div>
      <!-- イベント発生箇所 -->
      <hr />
      <!-- ライン -->

      <div class="money wrapper">
        <h3 id="money_e">料金表</h3>
      </div>

      <table class="table-money" border="1">
        <tr>
          <th colspan="8" class="money-heder">入館料</th>
        </tr>
        <tr>
          <th colspan="1"></th>
          <th colspan="4">大人</th>
          <th colspan="4">小人</th>
        </tr>
        <tr>
          <td></td>
          <td colspan="2">通常価格</td>
          <td colspan="2">Web前売</td>
          <td colspan="2">通常価格</td>
          <td colspan="2">Web前売</td>
        </tr>
        <tr>
          <td colspan="1">平日</td>
          <td colspan="2">800円</td>
          <td colspan="2"><span>750円</span></td>
          <td colspan="2">500円</td>
          <td colspan="2"><span>350円</span></td>
        </tr>
        <tr>
          <td colspan="1">土日祝</td>
          <td colspan="2">1,000円</td>
          <td colspan="2"><span>900円</span></td>
          <td colspan="2">500円</td>
          <td colspan="2"><span>350円</span></td>
        </tr>
        <tr>
          <td colspan="1">特定日</td>
          <td colspan="2">1,500円</td>
          <td colspan="2">-</td>
          <td colspan="2">500円</td>
          <td colspan="2">-</td>
        </tr>
      </table>

      <div class="explanation">
        <p>消費税込み。※小人料金対象は4歳～小学生のお客様。4歳未満無料。</p>
      </div>
    </article>
    <!-- 営業時間＆料金案内 ここまで↑ -->

    <div id="access-warp"></div><!-- アクセスリンク -->
    <h2>アクセス</h2>

    <div class="access-image">
      <article>
        <div class="img-change"></div>
        <!-- 画像アニメーション -->
        <p>LaLaの湯 周辺の画像</p>

        <div>
          <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1ZRRMqfV8Rx82YlHsZncIbDg9hI-niRjQ"></iframe>
          <p>Googleマップ</p>
        </div>
      </article>

      <article class="car-contents">
        <div>
          <h4>所在地</h4>
          <p>〒大阪市〇区〇〇〇〇〇〇</p>
          <h4>電話番号</h4>
          <p>06-1111―1111</p>
          <h4>駐車場</h4>
          <p>駐車場台数200台</p>
          <span>お車でお越しの場合</span>
        </div>
        <ul>
          <li>
            大阪方面から
            <ul>
              <li>西名阪〇〇〇〇〇〇へ</li>
              <li>南阪〇〇〇〇〇〇〇へ</li>
              <li>国道309号線→〇〇〇へ</li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            和歌山方面から
            <ul>
              <li>西名阪〇〇〇〇〇〇へ</li>
              <li>南阪〇〇〇〇〇〇〇へ</li>
              <li>国道309号線→〇〇〇へ</li>
            </ul>
          </li>
        </ul>
        <ul>
          <li>
            名古屋方面から
            <ul>
              <li>西名阪〇〇〇〇〇〇へ</li>
              <li>南阪〇〇〇〇〇〇〇へ</li>
              <li>国道309号線→〇〇〇へ</li>
            </ul>
          </li>
        </ul>
        <span>電車でお越しの場合</span>
        <p class="font">JR大阪駅より徒歩で5分</p>
      </article>
    </div>
    <!-- アクセス ここまで↑ -->
  </main>

  <footer>
    <div class="wrapper">
      <p>
        <small>&copy; 2021 LALA-YU</small>
      </p>
    </div>
  </footer>

  <!-- ページトップへ移動ここから -->
  <div id="gotop">
    <a href="#"></a>
  </div>
  <!-- ページトップへ移動ここまで -->

  <script>
    "use stript";

    //画像プリロード ここから↓ //
    const bigImg = [
      "images/img1.png",
      "images/img2.png",
      "images/img3.png",
      "images/img4.png",
      "images/img5.png",
      "images/img6.png",
      "images/img14.png",
    ]; //配列を使用した取得
    const bigImg_2 = [
      "images/img7.png",
      "images/img8.png",
      "images/img9.png",
      "images/img10.png",
      "images/img11.png",
      "images/img12.png",
      "images/img13.png",
    ]; //配列を使用した取得

    bigImg.forEach(function (item, index) {
      preloadImage(item);
    });

    function preloadImage(path) {
      let imgTag = document.createElement("img");
      imgTag.src = path;
    }

    bigImg_2.forEach(function (item, index) {
      preloadImage(item);
      console.log(item);
    });

    function preloadImage(path) {
      let imgTag_2 = document.createElement("img");
      imgTag_2.src = path;
    }
    //画像プリロード ここまで ↑

    // ハンバーメニュー 画像の切り替えここから↓ //
    const menuBtn = document.getElementById('menu-btn');
    let hamburger = true;
    menuBtn.onclick = function () {
      if (hamburger) {
        menuBtn.src = 'images/close.png';
        hamburger = false;
      } else {
        menuBtn.src = 'images/menu.png';
        hamburger = true;
      }
    }
    // ハンバーメニュー 画像の切り替えここまで↑ //

    // 施設案内 画像クリックイベントここから ↓
    const selectImg = function (item, index) {
      item.onclick = function () {
        document.getElementById("bigimg").src = bigImg[index];
      };
    };
    const thumbs = document.querySelectorAll(".thumb");
    thumbs.forEach(selectImg);

    const selectImg_2 = function (item, index) {
      item.onclick = function () {
        document.getElementById("bigimg_2").src = bigImg_2[index];
      };
    };
    const thumbs_2 = document.querySelectorAll(".thumb_2");
    thumbs_2.forEach(selectImg_2);
    //施設案内 画像クリックイベントここまで ↑

    // 施設案内 画像ここから↓ //
    // 施設案内 露天風呂
    let scrollEvent_1;
    $(window).on("load", function () {
      scrollEvent_1 =
        $("#scroll_e").offset().top + $("#scroll_e").outerHeight();
    });
    $(window).scroll(function () {
      if ($(window).scrollTop() + $(window).height() > scrollEvent_1) {
        $(".none_e").removeClass("hidden");
        $(".none_e").addClass("show_s");
        $(".none_e1").removeClass("hidden");
        $(".none_e1").addClass("show_s2");
      }
    });

    // 施設案内 室内
    let scrollEvent;
    $(window).on("load", function () {
      scrollEvent =
        $("#slide_e1").offset().top + $("#slide_e1").outerHeight();
    });
    $(window).scroll(function () {
      if ($(window).scrollTop() + $(window).height() > scrollEvent) {
        $(".thumb-img_f1 ul").removeClass("hidden");
        $(".thumb-img_f1 ul").addClass("show_s");
        $(".thumb-img_f2 ul").css("visibility", "visible");
        $(".thumb-img_f2 ul").css("hidden");
        $(".thumb-img_f2 ul").addClass("show_s3");
        $("#bigimg_2").css("visibility", "visible");
        $("#bigimg_2").addClass("show_zf");
      }
    });
    // 施設案内 画像ここまで↑ //

  </script>
</body>

</html>
