@charset "UTF-8";
html {
  font-size: 100%;
}

body {
  font-family: "明朝", "Yu Gothic Medium", "遊ゴシック Medium", YuGothic, "遊ゴシック", "ヒラギノ角ゴ Pro W3", "ヒラギノ明朝 Pro W3", "Reggae One", cursive, sans-serif;
  line-height: 1.7;
  color: #432;
  background-color: #eeeeee;
  animation: fadeIn 1.5s ease 0s 1 normal;
  -webkit-animation: fadeIn 1.5s ease 0s 1 normal;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

section {
  width: 95%;
  margin: 15px auto;
}

article {
  width: 95%;
  margin: 15px auto;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 2%;
}

/* 見出し 温泉由来 お知らせ アクセス */
h2 {
  font-size: 2rem;
  text-align: center;
  margin: 150px 0;
  font-family: 遊ゴシック;
}

.h2_f {
  width: 100%;
  background-color: #dbe9e4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 80px 0 0 0;
}

/* 小さな見出し 開館時間 露店風呂 室内*/
h3 {
  font-family: 遊ゴシック;
  width: 100%;
  color: #2eb6b3;
  padding-bottom: 20px;
  font-size: 1.5rem;
}

/* 共通部分 ここまで↑ */
/* 露天風呂 ここから↓ */
.show-content h3 {
  padding-top: 150px;
}

.show-content p {
  font-size: 1.5rem;
  text-align: left;
  font-family: "遊ゴシック";
}

.big_f1 ul {
  display: -ms-grid;
  display: grid;
  gap: 20px;
  -ms-grid-columns: (minmax(200px))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px));
  list-style: none;
}

.big_f1 ul .box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
}

.big_f1 ul .box #bigimg {
  background-position: center;
  background-size: cover;
  -webkit-animation: zoomIn 1s 4s backwards, bgchange_1 20s 1s infinite backwards;
          animation: zoomIn 1s 4s backwards, bgchange_1 20s 1s infinite backwards;
}

.big_f1 ul .box img {
  width: 100%;
  height: 100%;
}

/* 露天風呂 ここまで↑ */
/* 室内風呂 ここから↓ */
.big_f {
  background-color: #fff;
}

.big_f .thumb-img_f1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.big_f .thumb-img_f1 #bigimg_2 {
  visibility: hidden;
  width: 75%;
}

.big_f .thumb-img_f1 ul {
  list-style: none;
}

.big_f .thumb-img_f1 ul li {
  margin-left: 20px;
  margin-bottom: 20px;
}

.big_f .thumb-img_f1 ul :last-child {
  margin-bottom: 0;
}

.show_zf {
  -webkit-animation: zoomIn 1s 5s backwards, fadeInOut 10s infinite backwards;
          animation: zoomIn 1s 5s backwards, fadeInOut 10s infinite backwards;
}

.thumb-img_f2 ul {
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.thumb-img_f2 ul li {
  margin: 20px 20px 0 0;
}

.thumb-img_f2 ul :last-child {
  margin-right: 0;
}

/* 室内風呂 ここまで↑ */
.zoomOut a .mask {
  display: block;
  line-height: 0;
  overflow: hidden;
}

.zoomOut a img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.zoomOut a:hover img {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

/* 温泉 露天風呂 keyframes */
@-webkit-keyframes bgchange_1 {
  0% {
    background-image: url(../images/img1.png);
  }
  /*変化させたい画像*/
  25% {
    background-image: url(../images/img2.png);
  }
  /*変化させたい画像*/
  50% {
    background-image: url(../images/img3.png);
  }
  /*変化させたい画像*/
  75% {
    background-image: url(../images/img4.png);
  }
  /*変化させたい画像*/
  90% {
    background-image: url(../images/img5.png);
  }
  /*変化させたい画像*/
  100% {
    background-image: url(../images/img6.png);
  }
}
@keyframes bgchange_1 {
  0% {
    background-image: url(../images/img1.png);
  }
  /*変化させたい画像*/
  25% {
    background-image: url(../images/img2.png);
  }
  /*変化させたい画像*/
  50% {
    background-image: url(../images/img3.png);
  }
  /*変化させたい画像*/
  75% {
    background-image: url(../images/img4.png);
  }
  /*変化させたい画像*/
  90% {
    background-image: url(../images/img5.png);
  }
  /*変化させたい画像*/
  100% {
    background-image: url(../images/img6.png);
  }
}

/* 温泉 露天風呂 */
@keyframes bgchange_1 {
  0% {
    background-image: url(../images/img1.png);
  }
  /*変化させたい画像*/
  25% {
    background-image: url(../images/img2.png);
  }
  /*変化させたい画像*/
  50% {
    background-image: url(../images/img3.png);
  }
  /*変化させたい画像*/
  75% {
    background-image: url(../images/img4.png);
  }
  /*変化させたい画像*/
  90% {
    background-image: url(../images/img5.png);
  }
  /*変化させたい画像*/
  100% {
    background-image: url(../images/img6.png);
  }
}
/*# sourceMappingURL=buildings.css.map */