/* 共通部分 ここから↓ */
@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Reggae+One&display=swap"); // Googleフォントの読み込み。共通のbodyにも記述
@import "global";
@import "keyframes";
@import "animation";
@import "buildings";
@import "lalas";
@import "infos";
@import "cookings";

/* 共通部分 ここまで↑ */
/* レスポンシブル1 ここから↓ */

/* min-widthは横幅1050pxまでの表示(ハンバーガーメニュー専用。
   display:noneを使用し1050pxまでは非表示にする) */
@media (min-width: 1050px) {
  label[for="open-close"] {
    visibility: hidden;

    nav {
      position: static; // 初期設定に表示
      width: 100%;
      margin: 0;

      img {
        max-width: 10%;
      }

      #menu {
        position: static;
        display: flex;
        justify-content: space-around;
        padding: 0;
        display: none;

        li {
          width: 33.3%;
          border-top: 1px solid #999;
          border-left: 1px solid #999;

          :last-of-type {
            border-right: 1px solid #999;
          }
        }
      }
    }
  }
}

/* レスポンシブ1 ここまで↑ */
/* レスポンシブル2 ここから↓  */

/* min-widthは横幅1700pxまでの表示 */
/* ヘッダー ここから↓ */
@media (min-width: 1700px) {

  /* 共通部分 ここから↓*/
  h2 {
    font-size: 4rem; // pxは絶対値。remは相対値でレイアウトに応じて変化
    text-align: center;
    margin: 300px 0;
    font-family: fonts(main);
  }

  /* 小さな見出し 開館時間 露店風呂 室内*/
  h3 {
    font-family: fonts(main);
    width: 100%;
    color: #09c2bf;
    padding-bottom: 20px;
    font-size: 1.5rem;
  }

  /* 共通部分 ここまで↑ */
  /* ヘッダー ここから↓ */

  header {
    width: 100%;
    height: auto;
    background: rgba(251, 250, 250, 0.5);
    position: fixed; // ウィンドウを基準に画面に固定
    top: 0; // 上下の固定位置を上から0pxにする
    left: 0; // 左右の固定位置を左から0pxにする
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1); // シャドウ
    z-index: 30; // 絶対値の値

    .header-logo {
      display: flex;
      font-size: 5rem; // ※変更
      width: 100%;
      font-family: fonts(sub1); // Google フォント
      color: rgba(10, 9, 9, 0.877);
      margin: 10px;

      i {
        display: block;
        padding: 0 30px;
      }

      ul {
        width: 70%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: fonts(sub2);
        margin: 0 auto;
        list-style: none;
        color: #432;

        li {
          font-size: 3rem; // ※変更

          a {
            color: color(sub1);

            &:hover {
              color: color(sub);
              text-shadow: 1px 1px 1px #140505;
              display: block; // aタグはインライン注意
              padding: 20px 0; // blockに変更すればpaddingが効く
              background-color: rgba(163, 225, 218, 0.5);
            }
          }
        }
      }
    }
  }

  /* ヘッダー ここまで↑ */
  /* Bigロゴ ここから↓ */

  .big-log {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 2000px;
    background: linear-gradient(to right,
        #1b38da 0%,
        #6ec1cf 50%,
        #adcfda 100%);
    box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
    background-size: 200% 200%; // サイズを大きくひきのばす
    position: absolute;
    top: -100px;
    z-index: 100;
    animation: bggradient 25s ease infinite;

    h1 {
      font-family: fonts(sub1);
      color: color(sub);
      text-shadow: 1px 4px 4px #140505; // テキストシャドウ

      i {
        display: block; // iタグはインライン注意
        padding-top: 50px; // ※変更
        width: 100%;
        font-size: 15rem; // ロゴのサイズ
      }
    }

    p {
      width: 80%;
      text-align: center;
      margin: 0 auto;
      color: color(sub);
      font-family: fonts(sub3);
      font-size: 4rem;
      text-shadow: 1px 2px 3px #140505;
      position: relative;
      top: -100px;
    }
  }

  /* Bigロゴ ここまで↑ */
  /* Big画像 フェードイン・フェードアウトここから↓ */

  .photos {
    position: relative;

    img {
      position: absolute;
      width: 100%;
      top: 550px;
      left: 0;
      right: 0;
      margin: 30px auto;
      animation: photo 25s infinite; // 無限に繰り返す
      opacity: 0; // 不透明

      :nth-last-of-type(1) {
        animation-delay: 0s; // ディレイ 遅れ
      }

      :nth-last-of-type(2) {
        animation-delay: 5s;
      }

      :nth-last-of-type(3) {
        animation-delay: 10s;
      }
    }
  }

  /* Big画像 フェードイン・フェードアウトここまで↑ */
  /* 温泉由来 ここから↓ */

  .origin_f {
    font-family: fonts(main);
    visibility: hidden;
    font-size: 3rem; // ※変更
    width: 100%;
    min-height: 100vh;

    .origin-img {
      background-image: url(../images/img18.jpg);
      background-color: #badacf;
      background-blend-mode: soft-light; // 画像の変化に関するプロパティ
      background-size: cover;
      background-position: center;
      width: 100%;
      padding: 50px;

      p {
        visibility: hidden;
        font-family: fonts(main);
        max-width: 90%;
        margin: 20px auto;
      }
    }
  }

  /* 温泉由来 ここまで↑ */
  /* お知らせ ここから↓ */

  .info_f {
    font-family: fonts(main);
    visibility: hidden;
    font-size: 1.5rem;
    width: 95%;
    min-height: 100vh;
    background-color: color(sub);

    /* IDを指定にすると反応する*/
    #info {
      visibility: hidden;
      padding: 100px;
      background-color: color(sub);
      margin-bottom: 100px;
      padding: 300px 0;
      background-image: url(../images/img19.png);
      background-size: cover;
      background-position: center;
      width: 100%;

      dl {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        font-size: 3rem; // ※変更
        max-width: 80%; // ここで全体の幅を調整できる
        margin: 0 auto;

        dt,
        dd {
          border-bottom: 1px #ddd solid;
          margin-bottom: 80px;
        }

        dt {
          width: 30%;
          margin-right: 100px;
          color: color(main);
          text-align: center;
          visibility: hidden;
        }

        dd {
          visibility: hidden;
          text-align: center;
          width: 50%;
        }
      }
    }
  }

  /* おしらせ ここまで↑ */
  /* お知らせ一覧 ここから↓ */

  .post-info {
    font-family: fonts(main);
    width: 400px;
    height: 400px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 400px; // ※変更

    a {
      .post-date {
        font-family: fonts(main);
        background: #0bd;
        border-radius: 50%;
        color: color(sub);
        width: 400px;
        height: 400px;
        font-size: 3rem;
        padding-top: 120px;

        &:hover {
          background: color(main);
        }

        span {
          font-size: 3rem;
          border-top: 1px rgba(255, 255, 255, 0.5) solid;
          display: block;
          width: 60%;
          margin: 0 auto;
        }
      }
    }
  }

  /* お知らせ一覧 ここまで↑ */
  /* 施設案内 ここから↓ */

  #grid {
    visibility: hidden;
    display: grid;
    gap: 100px;
    grid-template-columns: repeat(auto-fit, minmax(750px, 2fr));
    padding: 80px;
    background-image: url(../images/img17.jpg);
    background-color: color(main);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    margin-bottom: 200px;

    img {
      visibility: hidden;
      width: 100%;
      background-size: cover;
      background-position: center;
    }

    .item_f {
      a {
        p {
          font-family: fonts(main);
          text-align: center;
          font-size: 3rem;
          color: color(sub);

          &:hover {
            color: rgb(233, 233, 233);
          }
        }
      }
    }
  }

  /* 施設案内 ここまで↑ */
  /* メルマガ登録 ここから↓ */

  .sns-favicon {
    margin: 0 auto;
    padding: 80px 400px;
    background-image: url(../images/img20.jpg);
    background-position: center;
    background-size: cover;
    font-size: 1.25rem;
    width: 95%;

    div {
      display: flex;
      justify-content: space-between;
      height: 30px;
    }

    p {
      font-size: 3rem;
      text-align: center;
      margin-top: 80px; // ※変更
      color: color(sub);
      border-radius: 5px;
      background: linear-gradient(to right,
          #362ae0 0%,
          #3b79cc 50%,
          #42d3ed 100%);
      opacity: 0;
      animation: kurukuru 1.4s ease-out; // くるくるアニメーション
      opacity: 1;

      &:hover {
        background: linear-gradient(to right,
            #362ae0 0%,
            #3b79cc 0%,
            #42d3ed 100%);
      }
    }

    span {
      display: block;
      width: 100px;
      height: 100px;
    }
  }

  @mixin favicon($img-num:1) {
    background-image: url("../images/favicon#{$img-num}.png");
    background-position: center;
    background-size: cover;
    animation: poyopoyo 2s ease-out 3s infinite;
    opacity: 1;
  }

  .favicon1 {
    @include favicon(4);
  }

  .favicon2 {
    @include favicon(5);
  }

  .favicon3 {
    @include favicon(6);
  }

  #merumaga_a2 {
    .post-date {
      font-family: fonts(main);
      background: #0bd;
      border-radius: 50%;
      color: color(sub);
      width: 400px;
      height: 400px;
      font-size: 3rem;
      padding-top: 120px;

      &:hover {
        background: color(main);
      }
    }

    span {
      font-size: 3rem;
      border-top: 1px rgba(255, 255, 255, 0.5) solid;
      display: block;
      width: 60%;
      margin: 0 auto;
    }
  }

  /* メルマガ登録 ここまで↑ */
  /* sns一覧 ここから↓ */

  #merumaga_a {
    width: 95%;
    background-color: #f9f7f0;

    .sns {
      display: flex;
      width: 100%;
      max-width: 100%;
      margin: 0 auto;
      background: #faf7f0;

      .sns-box {
        width: 100%;

        .sub-title {
          width: 50%;
          font-size: 3rem;
          padding: 0 8px 8px;
          border-bottom: 2px #0bd solid;
          font-weight: normal;
          margin: 50px 50px;
        }

        iframe {
          width: 100%;
          height: 50vh;
          /* height: auto; */
        }
      }
    }
  }

  /* sns一覧 ここまで↑ */
  /* 営業時間 ここから↓ */

  /* ボーダーアニメーション ここから↓ */
  .stroke {
    margin: 0 30px;
    position: relative;

    .is-animated {

      .right,
      .left {
        animation: stroke-height 1.8s;
      }
    }

    h2 {
      font-size: 3rem; // pxは絶対値。remは相対値でレイアウトに応じて変化
      text-align: center;
      padding: 130px 0;
      margin-bottom: 50px;
    }

    .border {
      content: "";
      position: absolute;
      opacity: 0;

      .top_p,
      .bottom {
        width: calc(100% - 20px);
      }

      .top_p {
        border-top: 3px solid #362ae0;
        right: 0;
        top: 0;
      }

      .bottom {
        border-bottom: 3px solid #362ae0;
        left: 0;
        bottom: 0;
      }

      .right,
      .left {
        height: calc(100% - 20px);
      }

      .right {
        border-right: 3px solid #362ae0;
        right: 0;
        top: 0;
      }

      .left {
        border-left: 3px solid #362ae0;
        left: 0;
        bottom: 0;
      }
    }

    .border {
      opacity: 1;

      .top_p,
      .bottom {
        animation: stroke-width 1.8s;
      }
    }
  }

  .time {
    p {
      font-size: 2.5rem;
      color: color(main);
      text-align: center;
    }

    span {
      font-family: fonts(main);
      display: block;
      text-align: center;
      font-size: 1.25rem;
      color: color(main);
    }
  }

  /* ボーダーアニメーション ここまで↑ */
  /* ラインアニメーション ここから↓ */

  .line {
    display: block;
    position: relative;

    &::after {
      background: linear-gradient(to right,
          #362ae0 0%,
          #3b79cc 50%,
          #42d3ed 100%);
      content: "";
      display: block;
      height: 1px;
      width: 0;
      transform: translateX(-50%);
      transition: 1.2s cubic-bezier(0.22, 1, 0.36, 1);
      position: absolute;
      bottom: 0;
      left: 50%;
    }
  }

  .line_a::after {
    width: 100%;
  }

  /* ラインアニメーション ここまで↑ */

  /* 料金表 */
  .money_f {
    font-size: 2.5rem;
    background: #eeecc2;
    padding: 100px 50px;

    .time {
      h3 {
        font-size: 3rem;
      }

      p {
        font-size: 3rem;
        font-family: fonts(main);
      }

      span {
        font-family: fonts(main);
        font-size: 2rem;
      }
    }

    .money {
      h3 {
        font-size: 3rem;
        padding: 30px 0;
      }
    }
  }

  .table-money {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border: 1px #09c2bf solid;
    border-collapse: collapse;
    font-family: fonts(sub3);

    td {
      :nth-of-type(3n) {
        background: #e4f195;
      }

      :nth-of-type(5n) {
        background: #e4f195;
      }
    }

    .money-heder {
      color: color(sub);
      background-color: rgb(214, 235, 33);
      border: 1px rgb(214, 235, 33) solid;
      font-size: 2.5rem;
    }

    span {
      color: color(main);
    }
  }

  tr,
  th,
  td {
    height: 40px;
  }

  th {
    background: #e0ebe7;
  }

  td {
    background: #eeecc2;
  }

  .price {
    visibility: hidden;
  }

  .show_up1 {
    animation: fadeup 2s ease 1 backwards;
  }

  .explanation span {
    display: block;
    text-align: center;
    font-family: fonts(main);
    color: color(main);
    padding: 20px 0 0 20px;
  }

  .table-money .black {
    color: black;
  }

  /* 営業時間 ここまで↑ */
  /* アクセス ここから↓ */

  .access-image {
    font-family: fonts(main);
    display: flex;
    height: 2100px;

    article {
      background-color: rgb(246, 250, 248);
      width: 50%;
      padding: 100px;

      p {
        font-size: 3rem;
        text-align: center;
        border: 1px black solid;
        margin-bottom: 100px;
        padding: 10px;

        :last-child {
          margin-bottom: 0;
        }
      }

      /* アクセス 周辺画像 */
      .img-change {
        width: 100%;
        height: 30%;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
        animation: bgchange 25s ease-out infinite;
      }

      div {
        iframe {
          height: 80vh;
        }
      }
    }
  }

  .car-contents {
    h4 {
      font-size: 2.5rem;
      text-align: left;
      color: color(main);
    }

    div {
      p {
        font-size: 2rem;
        text-align: left;
        border: 0;
        margin: 0;
      }

      span {
        font-size: 2.5rem;
        display: block;
        width: 80%;
        background-color: #09c2bf;
        color: color(sub);
        margin: 50px 0;
      }
    }

    ul {
      text-align: left;
      padding: 30px 50px 30px;
      font-size: 2rem;
    }

    span {
      font-size: 2.5rem;
    }

    .font {
      text-align: left;
      font-size: 2rem;
      padding: 20px;
      border: 0;
    }
  }

  /* アクセス ここまで↑ */
  /* フッター ここから↓ */

  footer {
    font-family: fonts(main);
    background: #432;
    text-align: center;
    padding: 20px 0;
    color: color(sub);
    font-size: 2rem;
  }

  /* フッター ここまで↑ */
  /* New.html ここから↓ */

  /* お知らせ一覧 */
  .h2_f {
    width: 100%;
    background-color: #dbe9e4;
    display: flex;
    justify-content: center;
    margin: 130px 0 0 0;
  }

  /* New.html ここまで↑ */
  /* Show.html ここから↓ */

  .show-content {
    h3 {
      font-size: 3rem;
    }

    p {
      font-size: 2rem;
      font-family: fonts(main);
    }
  }

  .big_f1 {
    ul {
      .box {
        img {
          width: 100%; // 追加
        }
      }
    }

    li {
      width: 100%;

      img {
        width: 100%;
      }
    }
  }

  #bigimg_2 {
    visibility: hidden;
    width: 75%;
  }

  .right_img {
    width: 24%; // 追加
  }

  /* Show.html ここまで↑ */
  /* Cooking.html ここから↓ */

  /* LaLa麺 */
  .cooking-img_f {
    padding: 50px 50px;
    max-height: 100%;
    margin-bottom: 50px;

    .cooking-img {
      display: flex;
      flex-wrap: wrap;
      visibility: hidden;

      h3 {
        width: 40%;
        font-size: 3rem;
        font-family: fonts(sub2);
        padding: 80px 0 0 0;
        color: rgb(185, 95, 95);

        p {
          text-align: left;
          font-size: 2rem;
          padding-top: 20px;

          :last-child {
            padding-top: 0;
          }
        }
      }

      img {
        width: 60%;
      }

      ul {
        display: flex;
        justify-content: right;
        width: 100%;
        margin-top: 10px;
        list-style: none;

        li {
          width: 100%;
          margin-right: 10px;

          :last-child {
            margin-right: 0;
          }

          img {
            width: 100%;
          }
        }
      }
    }
  }

  /* 居酒屋 LaLaのれん */
  .cooking-img_f1 {
    background-image: url(../images/img17.jpg);
    background-position: center;
    background-size: cover;
    background-color: #efe9c6;
    background-blend-mode: soft-light; // 画像の変化に関するプロパティ
    padding: 50px 50px;
    max-height: 70%;
    margin-bottom: 50px;
  }

  #noren {
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;

    h3 {
      width: 40%;
      font-size: 3rem;
      font-family: fonts(sub2);
      padding: 80px 0 0 50px;
      color: rgb(185, 95, 95);

      p {
        text-align: left;
        font-size: 2rem;
        padding-top: 20px;

        :last-child {
          padding-top: 0;
        }
      }
    }

    img {
      width: 60%;
    }

    ul {
      width: 100%;
      display: flex;
      margin-top: 10px;
      list-style: none;

      li {
        width: 100%;
        margin-right: 10px;

        :last-child {
          margin-right: 0;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  /* LaLaカフェ */
  #cafe {
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;

    h3 {
      width: 40%;
      font-size: 3rem;
      font-family: fonts(sub2);
      padding: 80px 0 0 0;
      color: rgb(185, 95, 95);

      p {
        text-align: left;
        font-size: 2rem;
        padding-top: 20px;

        :last-child {
          padding-top: 0;
        }
      }
    }

    img {
      width: 60%;
    }

    ul {
      display: flex;
      margin-top: 10px;
      list-style: none;

      li {
        margin-right: 10px;

        :last-child {
          margin-right: 0;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  /* LaLaカフェ */
  #cafe {
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;

    h3 {
      width: 40%;
      font-size: 3rem;
      font-family: fonts(sub2);
      padding: 80px 0 0 50px;
      color: rgb(185, 95, 95);

      p {
        text-align: left;
        font-size: 2rem;
        padding-top: 20px;

        :last-child {
          padding-top: 0;
        }
      }
    }

    img {
      width: 60%;
    }

    ul {
      display: flex;
      width: 100%;
      margin-top: 10px;
      list-style: none;

      li {
        width: 100%;
        margin-right: 10px;

        :last-child {
          margin-right: 0;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  /* 茶店 小町LaLa屋 */
  #comachi {
    display: flex;
    flex-wrap: wrap;
    visibility: hidden;

    h3 {
      width: 40%;
      font-size: 3rem;
      font-family: fonts(sub2);
      padding: 80px 0 0 50px;
      color: rgb(185, 95, 95);

      p {
        text-align: left;
        font-size: 2rem;
        padding-top: 20px;

        :last-child {
          padding-top: 0;
        }
      }
    }

    img {
      width: 60%;
    }

    ul {
      display: flex;
      justify-content: right;
      width: 100%;
      margin-top: 10px;
      list-style: none;

      li {
        width: 100%;
        margin-right: 10px;

        :last-child {
          margin-right: 0;
        }
      }
    }
  }

  /* cooking.html ここまで↑  */
  /* Contact.html ここから↓ */

  .form-contact {
    font-family: fonts(main);
    width: 95%;
    background-image: url(../images/img15.jpg);
    background-color: #d6d8d8;
    background-blend-mode: soft-light;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 300px 500px;
    margin-top: 150px;
    animation: fadeup2 2s ease-in-out 1s backwards;

    .form-title {
      font-size: 5rem;
      text-transform: uppercase; // テキストを大文字表示する方法を指定
      font-weight: normal;
      margin-bottom: 100px;
      margin: 0; // h2のmarginが残っているので注意
    }

    /* inputの行間隔 */
    form {
      div.required {
        font-size: 3rem;
        margin: 200px 0;

        /* 必須 */
        label {
          font-size: 2rem;
          margin-bottom: 10px;
          display: block;

          span {
            color: red;
            font-size: 2rem;
          }
        }

        input[type="text"],
        input[type="email"] {
          width: 100%;
          max-width: 100%;
          margin: 0;
          background-color: #eee;
        }
      }

      textarea {
        background-color: #eee;
        width: 100%;
        max-width: 100%;
        height: 20rem;
      }
    }

    input[type="submit"] {
      border: none;
      cursor: pointer; // カーソルの表示変更
      line-height: 1; // 行の高さ
    }

    .button {
      font-size: 3rem;
      background: #0bd;
      color: color(sub);
      border-radius: 5px; // 要素の角を丸める
      padding: 18px 32px;

      &:hover {
        background: #0090aa;
      }
    }
  }

  /* スイッチ */
  .switch {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    bottom: 0;

    /* アニメーションは貼り付ける場所に注意 */
    div {
      width: 50%;
      background-color: rgba(150, 167, 5, 0.7);
      animation: fadeIn 3s ease-in-out 1 normal forwards,
        poyopoyo 2s 5s infinite;
    }

    p {
      font-family: fonts(main);
      font-size: 1.25rem;
      color: color(sub);
      text-align: center;
      padding: 10px;
      margin: 0 10px;
      background-color: rgba(4, 23, 107, 0.5);
    }

    span {
      display: block;
      text-align: center;
      padding: 40px;
      margin: 0 10px;
      background-color: rgba(4, 23, 107, 0.5);
      border-radius: 2px 0 0 20px;
      background-image: url(../images/icons8-coment.png);
      background-size: contain; // 幅に合わしてくれる
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  /* スイッチ ここまで↑ */
}

/* Contact.html ここまで↑ */

/* レスポンシブル2 ここまで↑ */
/* レスポンシブル3 ここから↓ */

/* max-widthは横幅1050pxからの表示 */
@media (max-width: 1050px) {
  header {
    .header-logo {
      display: block;
      text-align: center;
      font-size: 3rem;
      width: 80%; // ※変更
      margin: 0 auto; // ※変更

      ul,
      li {
        display: none; // ※変更
      }
    }
  }

  /* ハンバーガーメニュー ここから↓ */
  label[for="open-close"] {
    margin-bottom: 0px;

    nav {
      z-index: 30;
      width: 35px;
      height: 35px;
      cursor: pointer; // 画面上部にきたときのカーソルの表示
      position: fixed; // 固定にする。配置場所を下記に書く
      top: 20px; // ※変更
      right: 10px;

      #open-close {
        display: none; // ブラウザから見えなくする
      }

      /* クリックしたときに表示するメニュー */
      #menu {
        width: 100%;
        margin-top: 60px; // メニューの高さ調整
        list-style-type: none;
        position: fixed;
        top: 15px; // ※追加
        right: 100%; // transformの値と連動している

        li {
          height: auto;
          line-height: 1.2;

          a {
            height: auto; // 行の高さ
            display: block;
            background-color: rgba(65, 62, 62, 0.5);
            color: color(sub);
            text-shadow: 1px 4px 4px #140505; // テキストシャドウ
            text-align: center;
            text-decoration: none;
            font-size: 1.2rem;

            &:hover {
              color: #9cefec;
            }
          }
        }
      }

      /* アニメーションの実施 */
      #open-close:checked~#menu {
        transition: all 300ms 0s ease; // クリックしたときのアニメーション
        transform: translate(100%); // クリックしたときの戻り値
      }
    }
  }

  /* ハンバーガーメニュー ここまで↑ */
  /* 大きなロゴ ここから↓ */

  /* Big画像 */
  .photos img {
    position: absolute;
    width: 100%;
    top: 190px; // ※変更
    left: 0;
    right: 0;
    margin: 30px auto;
    animation: photo 25s infinite;
    opacity: 0;
  }

  .big-log {
    top: 0; // ※追加
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin: 0 0 700px 0; // ※変更

    i {
      display: block;
      text-align: center;
      margin: 0 auto;
      width: 100%;
      font-size: 5rem; // ※変更
    }
  }

  /* 大きなロゴ ここまで↑ */
  /* 温泉由来 ここから↓ */

  .origin-img {
    background-image: url(../images/img18.jpg);
    background-color: #badacf;
    background-blend-mode: soft-light; // 画像の変化に関するプロパティ
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 80px 0;

    p {
      font-family: fonts(main);
      width: 100%; // 変更
      padding: 0;
      margin: 10px auto;
    }
  }

  /* 温泉由来 ここまで↑ */
  /* お知らせ ここから↓ */

  .info_f {
    .info-img {
      margin-bottom: 100px;
      padding: 200px 0;
      background-image: url(../images/img19.png);
      background-size: cover;
      background-position: center;
    }

    #info {
      padding: 200px 0; // ※変更
      background-color: color(sub);

      dl {
        display: block; // ※変更
        width: 100%;
        max-width: 70%;
        margin: 0 auto;
        font-size: 1.4rem; // ※変更

        dt {
          width: 100%;
          color: color(main);
          text-align: center;
          visibility: hidden;
          margin: 0 auto;
        }

        dd {
          visibility: hidden;
          text-align: center;
          width: 50%; // ※変更
          margin: 0 auto;
        }

        dt,
        dd {
          border-bottom: 1px #ddd solid;
          margin-bottom: 80px;
          width: 100%;
        }
      }
    }
  }

  /* お知らせ ここまで↑ */
  /* 施設案内 ここから↓ */

  #grid {
    display: grid;
    gap: 50px; // ※変更
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr)); // ※変更
    padding: 100px; // ※変更
    background-image: url(../images/img17.jpg);
    background-color: color(main);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    margin-bottom: 150px; // ※変更

    p {
      text-align: center;
      font-size: 1.8rem; // ※変更
      color: color(sub);
    }
  }

  /* 施設案内 ここまで↑ */
  /* メルマガ登録 ここから↓ */

  .sns-favicon {
    margin: 0 auto;
    padding: 80px 150px; // ※変更
    background-image: url(../images/img16.jpg);
    background-position: center;
    background-size: cover;
    font-size: 1rem;
    width: 95%;

    div {
      display: flex;
      justify-content: space-between;
      height: 30px;
    }

    p {
      text-align: center;
      margin-top: 20px;
      background-color: #1d0657;
      color: color(sub);
      border-radius: 5px;
    }

    span {
      display: block;
      width: 30px;
    }
  }

  /* メルマガ登録 ここまで↑ */
  /* sns一覧 ここから↓ */

  .sns {
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    background: #faf7f0;

    .sns-box {
      width: 100%;

      .sub-title {
        width: 50%;
        font-size: 2rem;
        padding: 0 8px 8px;
        border-bottom: 2px #0bd solid;
        font-weight: normal;
        margin: 50px 50px;
      }

      iframe {
        width: 100%;
        height: auto;
      }
    }
  }

  /* sns一覧 ここまで↑ */
  /* アクセス ここから↓ */

  .access-image {
    display: block; // ※変更
    max-height: 3000px; // ※変更

    article {
      width: 95%; // ※変更
      padding: 30px;
      border: #09c2bf 1px solid;

      .img-change {
        width: 80%;
        height: 50vh;
        background-size: cover;
        background-position: center;
        margin-bottom: 5px;
        animation: bgchange 25s ease-in infinite;
      }

      p {
        width: 80%;
        text-align: center;
        margin: 0 auto;
      }

      div {
        text-align: center;
        margin: 50px auto;
        margin-bottom: 0;
        background-size: cover;
        background-position: center;

        iframe {
          width: 80%;
          height: 50vh;
        }
      }
    }
  }

  .car-contents {
    div {
      h4 {
        padding-left: 100px;
        color: color(main);
      }

      p {
        text-align: left;
        padding-left: 80px;
      }

      span {
        display: block;
        text-align: left;
        margin: 0 auto;
        width: 80%;
        background-color: #09c2bf;
        color: color(sub);
      }
    }

    ul {
      padding: 10px 30px 10px 80px;
    }

    span {
      margin: 0 auto;
    }
  }

  /* アクセス ここまで↑ */
  /* フッター ここから↓ */

  footer {
    background: #432;
    text-align: center;
    padding: 20px 0;
    color: color(sub);
    font-size: 1.2rem;
  }

  /* フッター ここまで↑*/
  /* Now.html ここから↓ */

  @mixin left-content() {
    padding: 100px 0;
    visibility: hidden;

    img {
      width: 80%;
      position: absolute;
    }

    div {
      margin: 0 auto;
      padding: 50px 50px;
      position: relative;
      top: 150px;
      left: 50px;
      width: 80%;
      height: auto;
      background: rgba(251, 250, 250, 0.8);
    }

    h4 {
      margin-bottom: 50px;
      font-size: 1.2rem;
    }

    p {
      font-size: 0.8rem;
      padding: 5px 0;
    }
  }

  @mixin right-content {
    padding: 150px 0;
    visibility: visible;
    margin-bottom: 350px;

    img {
      margin-left: 150px;
      width: 100%;
      position: absolute;
      animation: slide-skew2 1s 1s backwards;
    }

    div {
      margin: 0 auto;
      padding: 50px 50px;
      position: relative;
      top: 300px;
      right: 50px;
      width: 80%;
      height: auto;
      background: rgba(251, 250, 250, 0.8);
      animation: slide-skew3 1s 1s backwards;
    }

    h4 {
      margin-bottom: 50px;
      font-size: 1.2rem;
      animation: slideIn-right 1s 3s backwards;
    }

    p {
      font-size: 0.8rem;
      padding: 5px 0;
      animation: fadeup 1s 4s backwards;
    }
  }

  /* 左 */
  .info-content {
    @include left-content;
  }

  /* 右 */
  .info-content_1 {
    @include right-content;
  }

  /* 左 */
  .info-content_2 {
    @include left-content;

    img {
      animation: slide-skew1 1s 3s backwards;
    }

    div {
      animation: slide-skew 1s 3s backwards;
    }

    h4 {
      animation: slideIn-left 1s 4s backwards;
    }

    p {
      animation: fadeup 1s 1 5s backwards;
    }
  }

  /* 右 */
  .info-content_3 {
    @include right-content;

    img {
      animation: slide-skew2 1s 5s backwards;
    }

    div {
      animation: slide-skew3 1s 5s backwards;
    }

    h4 {
      animation: slideIn-right 1s 6s backwards;
    }

    p {
      animation: fadeup 1s 1 7s backwards;
    }
  }

  /* 左 */
  .info-content_4 {
    @include left-content;

    img {
      animation: slide-skew1 1s 7s backwards;
    }

    div {
      animation: slide-skew 1s 7s backwards;
    }

    h4 {
      animation: slideIn-left 1s 7s backwards;
    }

    p {
      animation: fadeup 1s 8s backwards;
    }
  }

  /* 右 */
  .info-content_5 {
    @include right-content;

    img {
      animation: slide-skew2 1s 8s backwards;
    }

    div {
      animation: slide-skew3 1s 8s backwards;
    }

    h4 {
      animation: slideIn-right 1s 10s backwards;
    }

    p {
      animation: fadeup 1s 11s backwards;
    }
  }

  /* Now.html ここまで↑ */
  /* Contact.html ここから↓ */

  .form-contact {
    width: 95%;
    background-image: url(../images/img15.jpg);
    background-color: #d6d8d8;
    background-blend-mode: soft-light;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 100px 100px; // ※変更

    .form-title {
      font-size: 3rem; // ※変更
      text-transform: uppercase; // テキストを大文字表示する方法を指定
      font-weight: normal;
      margin-bottom: 100px;
      margin: 0; // h2のmarginが残っているので注意
    }

    form {
      .required {
        font-size: 1.5rem;
        margin: 100px 0;

        label {
          font-size: 1.125rem;
          margin-bottom: 10px;
          display: block;

          span {
            color: red;
            font-size: 0.7rem;
          }
        }

        input[type="text"],
        input[type="email"] {
          width: 100%;
          max-width: 80%; // ※変更
          margin: 0;
          background-color: #eee;
        }

        textarea {
          background-color: #eee;
          width: 100%;
          max-width: 100%;
          height: 6rem;
        }
      }

      input[type="submit"] {
        border: none;
        cursor: pointer;
        line-height: 1;
      }

      .button {
        font-size: 1.375rem;
        background: #0bd;
        color: color(sub);
        border-radius: 5px; // 要素の角を丸める
        padding: 18px 32px;

        &:hover {
          background: #0090aa;
        }
      }
    }
  }

  /* Contact.html ここまで↑ */
  /* スイッチ ここから↓ */

  .switch {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    bottom: 0;

    div {
      width: 100%;
      background-color: rgba(150, 167, 5, 0.7);
    }

    p {
      font-size: 1rem;
      color: color(sub);
      text-align: center;
      padding: 10px;
      margin: 0 10px;
      background-color: rgba(80, 87, 119, 0.7);
    }

    span {
      display: block;
      text-align: center;
      padding: 20px;
      margin: 0 10px;
      background-color: rgba(80, 87, 119, 0.7);
      border-radius: 2px 0 0 20px;
      background-image: url(../images/icons8-coment.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  /* スイッチ ここまで↑ */
  /* Cooking.htmlここから↓ */

  .cooking-img h3 {
    width: 40%;
    font-size: 1.2rem;
    font-family: fonts(sub2);
    padding: 10px 0 0 50px;
    color: rgb(185, 95, 95);

    p {
      font-size: 1rem;
      padding-top: 20px;
    }
  }

  #noren h3 {
    width: 40%;
    font-size: 1.2rem;
    font-family: fonts(sub2);
    padding: 10px 0 0 10px;
    color: rgb(185, 95, 95);

    p {
      font-size: 1rem;
      padding-top: 20px;
    }
  }

  #cafe h3 {
    width: 40%;
    font-size: 1.2rem;
    font-family: fonts(sub2);
    padding: 10px 0 0 50px;
    color: rgb(185, 95, 95);

    p {
      font-size: 1rem;
      padding-top: 20px;
    }
  }

  #comachi h3 {
    width: 40%;
    font-size: 1.2rem;
    font-family: fonts(sub2);
    padding: 10px 0 0 10px;
    color: rgb(185, 95, 95);

    p {
      font-size: 1rem;
      padding-top: 20px;
    }
  }
}

/* Cooking.htmlここまで↑ */

/* レスポンス3 ここまで↑ */
/* レスポンシブ4 スマホ用ここから↓ */

/* max-widthは横幅600pxからの表示 */
@media (max-width: 600px) {

  /* 共通部分 ここから↓ */
  /* 温泉由来、お知らせ、アクセスのヘッダー */
  h2 {
    font-size: 1.3rem; // ※変更
    text-align: center;
    margin: 50px 0;
  }

  /* 営業時間、露店風呂、室内 */
  h3 {
    color: #09c2bf;
    padding-bottom: 20px;
    font-size: 1.2rem; // ※変更
  }

  /* 共通部分 ここまで↑ */
  /* ヘッダー ここから↓ */

  .header-logo {
    font-size: 2rem;
    width: 70%;
  }

  /* ヘッダーここまで↑ */
  /* ハンバーメニュー ここから↓ */

  nav {
    z-index: 30;
    width: 35px;
    height: 35px;
    cursor: pointer; // 画面上部にきたときのカーソルの表示
    position: fixed; // 固定にする。配置場所を下記に書く
    top: 10px;
    right: 10px;

    #menu {
      width: 100%;
      margin-top: 50px; // メニューの高さ調整
      list-style-type: none;
      position: fixed;
      right: 100%; // transformの値と連動している

      li {
        height: auto;
        line-height: 3.2; // ※変更

        a {
          height: auto; // ※変更
          padding: 10px 0; // ※変更
          display: block;
          background-color: rgba(65, 62, 62, 0.5);
          color: color(sub);
          text-shadow: 1px 4px 4px #140505; // テキストシャドウ
          text-align: center;
          text-decoration: none;
          border-bottom: 1px solid rgb(238, 233, 233);
          font-size: 1rem;
        }
      }
    }
  }

  /* ハンバーガーメニュー ここまで↑ */
  /* Bigロゴ ここから↓ */

  /* Big画像 */
  .photos img {
    position: absolute;
    width: 100%;
    top: 130px; // ※変更
    left: 0;
    right: 0;
    margin: 30px auto;
    animation: photo 25s infinite;
    opacity: 0;
  }

  .big-log {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    margin: 0 0 420px 0; // ※変更

    h1 {
      font-family: fonts(sub1); // Google font
      color: color(sub);
      text-shadow: 1px 4px 4px #140505;
    }

    p {
      width: 80%;
      text-align: center;
      margin: 0 auto;
      color: color(sub);
      font-family: fonts(sub3);
      font-size: 1rem; // 変更
      text-shadow: 1px 2px 3px #140505;
      top: -30px; // 変更
    }

    h1 {
      i {
        display: block;
        text-align: center;
        margin: 0 auto;
        width: 100%;
        font-size: 3.5rem; // 変更
      }
    }
  }

  /* Bigロゴ ここまで↑ */
  /* 温泉由来 ここから↓ */

  .origin_f {
    visibility: hidden;
    font-size: 1.5rem;
    width: 100%;
    min-height: 100vh;

    .origin-img {
      background-image: url(../images/img18.jpg);
      background-color: #badacf;
      background-blend-mode: soft-light;
      background-size: cover;
      background-position: center;
      width: 100%;
      padding: 30px 10px; // ※変更

      p {
        font-family: fonts(main);
        width: 90%;
        margin: 0px auto;
        font-size: 1rem;
      }
    }
  }

  /* 温泉由来 ここまで↑ */
  /* お知らせ ここから↓ */

  #info h2 {
    margin-bottom: 20px; // ※変更
  }

  .info_f {
    margin-bottom: 50px;

    #info {
      padding: 150px 30px; // ※変更
      background-size: cover;
      background-position: center;

      dl {
        display: block; // ※変更
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
        font-size: 1.5rem; // ※変更

        dt {
          width: 100%;
          color: color(main);
          text-align: center;
          visibility: hidden;
          margin: 0 auto;
        }

        dd {
          visibility: hidden;
          text-align: center;
          width: 50%; // ※変更
          margin: 0 auto;
        }

        dt,
        dd {
          text-align: center;
          margin: 0 auto;
          border-bottom: 1px #ddd solid;
          margin-bottom: 30px;
          font-size: 1.5rem; // ※変更
          font-size: initial;
          width: 100%;
        }
      }
    }
  }

  /* お知らせ ここまで↑ */
  /* お知らせ一覧 ここから↓ */

  .post-info {
    width: 100px;
    height: 100px;
    text-align: center;
    margin-bottom: 100px; // ※変更

    a {
      .post-date {
        background: #0bd;
        border-radius: 50%;
        color: color(sub);
        width: 120px;
        height: 120px;
        font-size: 1rem; // ※変更
        padding-top: 35px; // ※変更
        margin-left: -13px;

        span {
          font-size: 1rem; // 変更
          border-top: 1px rgba(255, 255, 255, 0.5) solid;
          display: block;
          width: 50%;
          margin: 0 auto;
        }

        &:hover {
          background: color(main);
        }
      }
    }
  }

  /* お知らせ一覧 ここまで↑ */
  /* 施設案内 ここから↓ */

  #grid {
    display: grid;
    gap: 10px; // ※変更
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); // ※変更
    padding: 20px; // ※変更
    padding-top: 60px; // ※変更
    background-image: url(../images/img17.jpg);
    background-color: color(main);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    margin-bottom: 50px; // ※変更
  }

  #grid p {
    text-align: center;
    font-size: 1.2rem; // ※変更
    color: color(sub);
  }

  /* 施設案内 ここまで↑ */
  /* メルマガ登録 ここから↓ */

  .sns-favicon {
    padding: 80px 50px; // ※変更
    background-image: url(../images/img20.jpg);
    background-position: center;
    background-size: cover;
    font-size: 0.5rem;

    #merumaga_a3 {
      font-size: 1rem;
    }
  }

  #merumaga_a2 {
    font-size: 1rem;

    .post-date {
      background: #0bd;
      border-radius: 50%;
      color: color(sub);
      width: 120px;
      height: 120px;
      font-size: 1rem; // ※変更
      padding-top: 35px; // ※変更
      margin-left: -13px;

      span {
        font-size: 1rem; // 変更
        border-top: 1px rgba(255, 255, 255, 0.5) solid;
        display: block;
        width: 50%;
        margin: 0 auto;
      }

      &:hover {
        background: color(main);
      }
    }
  }

  #merumaga_a {
    .sns {
      .sns-box {
        width: 100%;
        margin: 0 auto;

        .sub-title {
          font-size: 1.5rem;
          padding-top: 50px;
          margin: 20px 20px;
        }
      }
    }
  }



  /* メルマガ ここまで↑ */
  /* 営業時間 ここから↓ */

  .stroke h2 {
    font-size: 1.5rem;
    padding: 80px 0px;
  }

  .time p {
    font-size: 1.5rem; // ※変更
    color: color(main);
    text-align: center;
  }

  .time span {
    display: block;
    text-align: center;
    font-size: 1rem; // ※変更
    color: color(main);
  }

  /* 料金表 */
  .money h3 {
    padding: 30px 0;
  }

  .money_f {
    background: #eeecc2;
    padding: 10px; // ※変更
    margin-bottom: 0; // ※変更
  }

  .table-money {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    border: 1px #09c2bf solid;
    border-collapse: collapse;
    font-family: fonts(sub3);
    font-size: 0.8rem; // ※変更

    tr {
      td {
        :nth-of-type(3n) {
          background: #e4f195;
        }

        :nth-of-type(5n) {
          background-color: #e4f195;
        }
      }
    }
  }

  .table-money .money-heder {
    color: color(sub);
    background-color: rgb(214, 235, 33);
    border: 1px rgb(214, 235, 33) solid;
  }

  .table-money span {
    color: #09c2bf;
  }

  tr,
  th,
  td {
    height: 40px;
  }

  th {
    background: #e0ebe7;
  }

  td {
    background: #eeecc2;
  }

  .explanation p {
    font-size: 1rem;
    color: color(main);
    padding: 10px 0;
  }

  /* 営業時間 ここまで↑ */
  /* アクセスここから↓ */

  /* 詳細に記述しないと反応しない */
  .access-image article {
    padding: 5px; // ※変更

    div {
      margin: 20px auto; // ※変更
    }

    p {
      font-size: 1rem;
      text-align: center;
      background-size: cover;
      background-position: center;
      padding: 10px; // ※変更
      margin-top: 10px; // ※変更
    }

    .img-change {
      width: 100%; // ※変更
      height: 30vh; // ※変更
      background-size: cover;
      background-position: center;
      margin-bottom: 5px;
      animation: bgchange 25s ease-in infinite;
    }

    p {
      font-size: 1rem;
      width: 100%;
    }

    div {
      iframe {
        width: 100%;
        height: 40vh;
      }
    }
  }

  .car-contents {
    div {
      h4 {
        padding-left: 20px; // ※変更
        font-size: 1rem;
        text-align: left;
        color: color(main);
      }

      p {
        font-size: 1rem; // ※変更
        text-align: left;
        margin: 0; // ※変更
      }

      span {
        font-size: 1rem; // ※変更
        display: block;
        text-align: left;
        width: 80%;
        background-color: #09c2bf;
        color: color(sub);
        padding: 10px 10px;
        margin: 0; // ※変更
        margin-left: 10px; // ※変更
        margin-top: 10px;
      }
    }

    ul {
      text-align: left;
      padding: 10px 10px 10px; // ※変更
      font-size: 1rem; // ※変更
    }

    span {
      font-size: 1rem;
      text-align: left;
      margin-left: 10px;
    }

    .font {
      text-align: left;
      font-size: 1rem; // ※変更
      padding: 10px 10px;
      margin-left: 10px;
    }
  }

  /* アクセス ここまで↑ */
  /* フッター ここから↓ */

  footer {
    background: #432;
    text-align: center;
    padding: 10px 0;

    p {
      color: color(sub);
      font-size: 1rem;
      margin: 0;
    }
  }

  /* フッター ここまで↑ */
  /* トップ移動 ここから↓ */

  .top {
    position: fixed;
    right: 10px;
    bottom: 50px; // ※変更
  }

  /* トップ移動ここまで↑ */
  /* Naw.html ここから↓ */

  .info-content {
    font-family: fonts(main);
    padding: 0; // ※変更
    visibility: hidden;
    margin-bottom: 150px; // ※変更

    img {
      width: 100%;
      position: absolute;
      animation: slide-skew1 1s;
    }

    div {
      margin: 0 auto;
      padding: 50px 50px;
      position: relative;
      top: 150px; // ※変更
      left: auto; // ※変更
      width: 100%; // ※変更
      height: auto;
      background: rgba(251, 250, 250, 0.8);
      animation: slide-skew 1s;
    }

    h4 {
      margin-bottom: 10px; // ※変更
      font-size: 1rem;
      animation: slideIn-left 1s 1 2s backwards;
    }

    p {
      font-size: 0.8rem;
      padding: 5px 0;
      animation: fadeup 1s 1 3s backwards;
    }
  }

  .info-content_1 {
    font-family: fonts(main);
    padding: 50px 0;
    visibility: visible;
    margin-bottom: 150px;

    img {
      margin: auto; // ※変更
      width: 100%;
      position: absolute;
      animation: slide-skew2 1s 1s backwards;
    }

    div {
      margin: 0 auto;
      padding: 50px 50px;
      position: relative;
      top: 150px; // ※変更
      right: auto; // ※変更
      width: 100%; // ※変更
      height: auto;
      background: rgba(251, 250, 250, 0.8);
      animation: slide-skew3 1s 1s backwards;
    }

    h4 {
      margin-bottom: 10px; // ※変更
      font-size: 1rem;
      animation: slideIn-right 1s 3s backwards;
    }

    p {
      font-size: 0.8rem;
      padding: 5px 0;
      animation: fadeup 1s 4s backwards;
    }
  }

  .info-content_2 {
    font-family: fonts(main);
    padding: 0;
    visibility: hidden;
    margin-bottom: 150px;

    img {
      width: 100%; // ※変更
      position: absolute;
      animation: slide-skew1 1s 3s backwards;
    }

    div {
      margin: 0 auto;
      padding: 50px 50px;
      position: relative;
      top: 150px;
      left: auto;
      width: 100%;
      height: auto;
      background: rgba(251, 250, 250, 0.8);
      animation: slide-skew 1s 3s backwards;
    }

    h4 {
      font-size: 1rem;
      animation: slideIn-left 1s 4s backwards;
    }

    p {
      font-size: 0.8rem;
      padding: 5px 0;
      animation: fadeup 1s 1 5s backwards;
    }
  }

  .info-content_3 {
    font-family: fonts(main);
    padding: 50px 0;
    visibility: visible;
    margin-bottom: 150px;

    img {
      margin: auto;
      width: 100%;
      animation: slide-skew2 1s 5s backwards;
    }

    div {
      margin: 0 auto;
      padding: 50px 50px;
      top: 150px;
      right: auto;
      width: 100%;
      height: auto;
      background: rgba(251, 250, 250, 0.8);
      animation: slide-skew3 1s 5s backwards;
    }

    h4 {
      font-size: 1rem;
      animation: slideIn-right 1s 6s backwards;
    }

    p {
      font-size: 0.8rem;
      padding: 5px 0;
      animation: fadeup 1s 1 7s backwards;
    }
  }

  .info-content_4 {
    font-family: fonts(main);
    padding: 0;
    visibility: hidden;
    margin-bottom: 150px;

    img {
      width: 100%;
      position: absolute;
      animation: slide-skew1 1s 7s backwards;
    }

    div {
      margin: 0 auto;
      padding: 50px 50px;
      top: 150px;
      left: auto;
      width: 100%;
      height: auto;
      background: rgba(251, 250, 250, 0.8);
      animation: slide-skew 1s 7s backwards;
    }

    h4 {
      font-size: 1rem;
      animation: slideIn-left 1s 7s backwards;
    }

    p {
      font-size: 0.8rem;
      padding: 5px 0;
      animation: fadeup 1s 8s backwards;
    }
  }

  .info-content_5 {
    font-family: fonts(main);
    padding: 50px 0;
    visibility: visible;
    margin-bottom: 150px;

    img {
      margin: auto;
      width: 100%;
      animation: slide-skew2 1s 8s backwards;
    }

    div {
      margin: 0 auto;
      padding: 50px 50px;
      top: 150px;
      right: auto;
      width: 100%;
      height: auto;
      background: rgba(251, 250, 250, 0.8);
      animation: slide-skew3 1s 8s backwards;
    }

    h4 {
      font-size: 1.2rem;
      animation: slideIn-right 1s 10s backwards;
    }

    p {
      font-size: 0.8rem;
      padding: 5px 0;
      animation: fadeup 1s 11s backwards;
    }
  }

  /* New.html ここまで↑ */
  /* Show.html ここから↓ */

  .show-content {
    margin: 50px 0; // ※変更

    p {
      font-size: 1rem; // ※変更
    }
  }

  .car-contents ul {
    margin-left: 20px;
  }

  /* Show.html ここまで↑ */
  /* Contact.html ここから↓ */

  .h2_f {
    margin-top: 60px;
  }

  .form-contact {
    width: 95%;
    background-image: url(../images/img15.jpg);
    background-color: #d6d8d8;
    background-blend-mode: soft-light;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    padding: 50px 30px; // ※変更
    margin-top: 50px; // ※変更

    .form-title {
      font-size: 1.5rem; // ※変更
      text-transform: uppercase; // テキストを大文字表示する方法を指定
      font-weight: normal;
      margin-bottom: 100px;
      margin: 0; // h2のmarginが残っているので注意 */
    }

    form {
      .required {
        font-size: 1rem; // ※変更
        margin: 50px 0;

        label {
          font-size: 1.125rem;
          margin-bottom: 10px;
          display: block;

          /* 必須 */
          span {
            color: red;
            font-size: 0.7rem;
          }
        }

        input[type="text"],
        input[type="email"] {
          width: 100%;
          max-width: 80%; // ※変更
          margin: 0;
          background-color: #eee;
        }

        textarea {
          background-color: #eee;
          width: 100%;
          max-width: 100%;
          height: 6rem;
        }
      }

      input[type="submit"] {
        border: none;
        cursor: pointer;
        /* カーソルの表示変更  */
        line-height: 1;
        /* 行の高さ  */
      }

      .button {
        font-size: 1rem; // ※変更
        background: #0bd;
        color: color(sub);
        border-radius: 5px;
        /* 要素の角を丸める */
        padding: 18px 32px;

        &:hover {
          background: #0090aa;
        }
      }
    }
  }

  /* スイッチ ここから↓ */
  .switch {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    position: fixed;
    bottom: 0;

    div {
      width: 80%;
    }

    p {
      font-size: 0.8rem;
      color: color(sub);
      text-align: center;
      padding: 10px;
      margin: 0 10px;
      background-color: rgba(80, 87, 119, 0.7);
    }

    span {
      display: block;
      text-align: center;
      padding: 20px;
      margin: 0 10px;
      background-color: rgba(80, 87, 119, 0.7);
      border-radius: 2px 0 0 20px;
      background-image: url(../images/icons8-coment.png);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  /* スイッチ ここまで↑ */
  /* Cooking.htmlここから↓ */

  .cooking-img_f {
    padding: 10px;
    margin-bottom: 20px;

    img {
      width: 100%; // ※変更
    }

    h3 {
      width: 100%; // ※変更
      font-size: 1.2rem;
      font-family: fonts(sub2);
      padding: 10px 0 10px 0;
      color: rgb(185, 95, 95);

      p {
        font-size: 1rem;
        padding-top: 20px;
      }
    }
  }

  #noren {
    display: flex;
    visibility: hidden;

    img {
      width: 100%;
      order: 2;
    }

    h3 {
      order: 1;
      width: 100%;
      font-size: 1.2rem;
      font-family: fonts(sub2);
      padding: 10px 0 10px 0;
      color: rgb(185, 95, 95);

      p {
        font-size: 1rem;
        padding-top: 20px;
      }
    }

    ul {
      order: 3;
    }
  }

  #cafe {
    display: flex;
    justify-content: flex-end;
    visibility: hidden;

    h3 {
      text-align: right;
      width: 100%;
      font-size: 1.2rem;
      font-family: fonts(sub2);
      padding: 10px 0 10px 0;
      color: rgb(185, 95, 95);

      p {
        text-align: right;
        font-size: 1rem;
        padding-top: 20px;
      }
    }

    img {
      width: 100%;
      justify-content: flex-end;
      order: 1;
    }

    ul {
      order: 2;
    }
  }

  #comachi {
    display: flexbox;
    visibility: hidden;

    img {
      width: 100%;
      order: 1;
    }

    h3 {
      order: 0;
      width: 100%;
      font-size: 1.2rem;
      font-family: fonts(sub2);
      padding: 10px 0 10px 0;
      color: rgb(185, 95, 95);

      p {
        font-size: 1rem;
        padding-top: 20px;
      }
    }

    ul {
      order: 2;
    }
  }
}

/* Cooking.htmlここまで↑ */
/* レスポンシブ4 スマホ用ここまで↑ */

div.contents.row .success {
  margin: 20px 0;
  padding: 30px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
  text-align: center;
  height: 100vh;
}

div.contents.row .success h3 {
  margin: 50px auto;
}
