<header>
  <div class="header-logo">
    <a href="/"><i>LaLa<small>の</small>湯</i></a>
    <ul>
      <li><a href="/">ホーム</a></li>
      <li><a href="/buildings">施設案内</a></li>
      <li><a href="/cookings">お食事</a></li>
      <li><a href="/lalas/new">お問い合わせ</a></li>
    </ul>
  </div>
</header>

<label for="open-close">
  <nav>
    <input type="checkbox" id="open-close" />
    <img src="images/menu.png" alt="" id="menu-btn">
    <ul id="menu">
      <li><a href="/">ホーム</a></li>
      <li><a href="/buildings">施設案内</a></li>
      <li><a href="/cookings">お食事</a></li>
      <li><a href="/lalas/new">お問い合わせ</a></li>
      <li><a href="#section-warp">営業時間</a></li>
      <li><a href="#section-warp">料金案内</a></li>
      <li><a href="#access-warp">アクセス</a></li>
    </ul>
  </nav>
</label>

<div class="h2_f">
  <h2>お知らせ一覧</h2>
</div>

<main>
  <div class="info-content">
    <img src="images/img1.png" alt="露天風呂1" class="hidden" />
    <div class="hidden">
      <h4 class="hidden">8月のイベント</h4>
      <p class="hidden">
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
      <p class="hidden">
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
    </div>
  </div>

  <div id="new-info_e"></div>
  <!-- イベント発生箇所 -->

  <div class="info-content_1">
    <img src="images/img2.png" alt="露天風呂2" class="hidden" />
    <div class="hidden">
      <h4 class="hidden">お得なクーポンのお知らせ</h4>
      <p class="hidden">
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
      <p class="hidden">
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
    </div>
  </div>

  <div id="new-info_e1"></div>
  <!-- イベント発生箇所 -->

  <div class="info-content_2">
    <img src="images/img3.png" alt="露天風呂3" class="hidden" />
    <div class="hidden">
      <h4 class="hidden">会員募集中</h4>
      <p class="hidden">
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
      <p class="hidden">
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
    </div>
  </div>

  <div class="info-content_3">
    <img src="images/img4.png" alt="露天風呂4" class="hidden" />
    <div class="hidden">
      <h4 class="hidden">会員様限定。お得な情報</h4>
      <p class="hidden">
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
      <p class="hidden">
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
    </div>
  </div>

  <div id="new-info_e2"></div>

  <div class="info-content_4">
    <img src="images/img5.png" alt="露天風呂5" class="hidden" />
    <div class="hidden">
      <h4 class="hidden">LaLaの湯だより</h4>
      <p class="hidden">
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
      <p class="hidden">
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
    </div>
  </div>

  <div id="new-info_e3"></div>

  <div class="info-content_5">
    <img src="images/img6.png" alt="露天風呂6" class="hidden" />
    <div class="hidden">
      <h4 class="hidden">7月のイベント</h4>
      <p class="hidden">
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
      <p class="hidden">
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
        テキストテキストテキストテキストテキストテキストテキストテキストテキスト
      </p>
    </div>
  </div>

  <div id="section-warp"></div>

  <!-- 営業時間＆料金案内 ここから↓ -->
  <div id="section-warp"></div>
  <h2 id="money_a">営業時間＆料金案内</h2>
  <div class="stroke hidden">
    <h2>営業時間＆料金案内</h2>
    <div class="border top_p"></div>
    <div class="border right"></div>
    <div class="border bottom"></div>
    <div class="border left"></div>
  </div>
  <article id="line_a" class="money_f">

    <div class="time wrapper">
      <h3>開館時間</h3>
      <p>11:00～20:00</p>
      <span>最終入館 19:00</span>
    </div>

    <div class="line"></div>
    <!-- ライン -->

    <div class="money wrapper">
      <h3 id="money_e">料金表</h3>
    </div>

    <table class="table-money" border="1">
      <tr>
        <th colspan="8" class="money-heder">入館料</th>
      </tr>
      <tr>
        <th colspan="1"></th>
        <th colspan="4">大人</th>
        <th colspan="4">小人</th>
      </tr>
      <tr>
        <td></td>
        <td colspan="2">通常価格</td>
        <td colspan="2">Web前売</td>
        <td colspan="2">通常価格</td>
        <td colspan="2">Web前売</td>
      </tr>
      <tr>
        <td colspan="1">平日</td>
        <td class="price" colspan="2"><span class="black">800円</span></td>
        <td class="price" colspan="2"><span>750円</span></td>
        <td class="price" colspan="2"><span class="black">500円</span></td>
        <td class="price" colspan="2"><span>350円</span></td>
      </tr>
      <tr>
        <td colspan="1">土日祝</td>
        <td class="price" colspan="2"><span class="black">1,000円</span></td>
        <td class="price" colspan="2"><span>900円</span></td>
        <td class="price" colspan="2"><span class="black">500円</span></td>
        <td class="price" colspan="2"><span>350円</span></td>
      </tr>
      <tr>
        <td colspan="1">特定日</td>
        <td class="price" colspan="2"><span class="black">1,500円</span></td>
        <td colspan="2">-</td>
        <td class="price" colspan="2"><span class="black">500円</span></td>
        <td colspan="2">-</td>
      </tr>
    </table>

    <div class="explanation">
      <span>消費税込み。※小人料金対象は4歳～小学生のお客様。4歳未満無料。</span>
    </div>

  </article>
  <!-- 営業時間＆料金案内 ここまで↑ -->

  <!-- アクセス ここから↓ -->
  <div id="access-warp"></div>
  <h2>アクセス</h2>

  <div class="access-image">
    <article>
      <div class="img-change"></div><!-- 画像アニメーション -->
      <p>LaLaの湯 周辺の画像</p>

      <div>
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1ZRRMqfV8Rx82YlHsZncIbDg9hI-niRjQ"></iframe>
        <p>Googleマップ</p>
      </div>
    </article>

    <article class="car-contents">
      <div>
        <h4>所在地</h4>
        <p>〒大阪市〇区〇〇〇〇〇〇</p>
        <h4>電話番号</h4>
        <p>06-1111―1111</p>
        <h4>駐車場</h4>
        <p>駐車場台数200台</p>
        <span>お車でお越しの場合</span>
      </div>
      <ul>
        <li>
          大阪方面から
          <ul>
            <li>西名阪〇〇〇〇〇〇へ</li>
            <li>南阪〇〇〇〇〇〇〇へ</li>
            <li>国道309号線→〇〇〇へ</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          和歌山方面から
          <ul>
            <li>西名阪〇〇〇〇〇〇へ</li>
            <li>南阪〇〇〇〇〇〇〇へ</li>
            <li>国道309号線→〇〇〇へ</li>
          </ul>
        </li>
      </ul>
      <ul>
        <li>
          名古屋方面から
          <ul>
            <li>西名阪〇〇〇〇〇〇へ</li>
            <li>南阪〇〇〇〇〇〇〇へ</li>
            <li>国道309号線→〇〇〇へ</li>
          </ul>
        </li>
      </ul>
      <span>電車でお越しの場合</span>
      <p class="font">JR大阪駅より徒歩で5分</p>
    </article>
  </div>
  <!-- アクセス ここまで↑ -->

</main>

<script type="text/javascript">
  "use stript";

  // ハンバーメニュー 画像の切り替えここから↓ //
  const menuBtn = document.getElementById('menu-btn');
  let hamburger = true;
  menuBtn.onclick = function () {
    if (hamburger) {
      menuBtn.src = 'images/close.png';
      hamburger = false;
    } else {
      menuBtn.src = 'images/menu.png';
      hamburger = true;
    }
  }
  // ハンバーメニュー 画像の切り替えここまで↑ //

  // お知らせ一覧 ここから↓ //
  let newInfo_e;
  $(window).on("load", function () {
    newInfo_e =
      $("#new-info_e").offset().top + $("#new-info_e").outerHeight();
  });
  $(window).scroll(function () {
    if ($(window).scrollTop() + $(window).height() > newInfo_e) {
      $(".info-content").css("visibility", "visible");
      $(".info-content img").removeClass("hidden");
      $(".info-content div").removeClass("hidden");
      $(".info-content h4").removeClass("hidden");
      $(".info-content p").removeClass("hidden");
    }
  });

  let newInfo_e1;
  $(window).on("load", function () {
    newInfo_e1 =
      $("#new-info_e1").offset().top + $("#new-info_e1").outerHeight();
  });
  $(window).scroll(function () {
    if ($(window).scrollTop() + $(window).height() > newInfo_e1) {
      $(".info-content_1").css("visibility", "visible");
      $(".info-content_1 img").removeClass("hidden");
      $(".info-content_1 div").removeClass("hidden");
      $(".info-content_1 h4").removeClass("hidden");
      $(".info-content_1 p").removeClass("hidden");
    }
  });
  let newInfo_e2;
  $(window).on("load", function () {
    newInfo_e2 =
      $("#new-info_e2").offset().top + $("#new-info_e2").outerHeight();
  });
  $(window).scroll(function () {
    if ($(window).scrollTop() + $(window).height() > newInfo_e2) {
      $(".info-content_2").css("visibility", "visible");
      $(".info-content_2 img").removeClass("hidden");
      $(".info-content_2 div").removeClass("hidden");
      $(".info-content_2 h4").removeClass("hidden");
      $(".info-content_2 p").removeClass("hidden");
    }
  });

  let newInfo_e3;
  $(window).on("load", function () {
    newInfo_e3 =
      $("#new-info_e3").offset().top + $("#new-info_e3").outerHeight();
  });
  $(window).scroll(function () {
    if ($(window).scrollTop() + $(window).height() > newInfo_e3) {
      $(".info-content_3").css("visibility", "visible");
      $(".info-content_3 img").removeClass("hidden");
      $(".info-content_3 div").removeClass("hidden");
      $(".info-content_3 h4").removeClass("hidden");
      $(".info-content_3 p").removeClass("hidden");
      $(".info-content_4").css("visibility", "visible");
      $(".info-content_4 img").removeClass("hidden");
      $(".info-content_4 div").removeClass("hidden");
      $(".info-content_4 h4").removeClass("hidden");
      $(".info-content_4 p").removeClass("hidden");
      $(".info-content_5").css("visibility", "visible");
      $(".info-content_5 img").removeClass("hidden");
      $(".info-content_5 div").removeClass("hidden");
      $(".info-content_5 h4").removeClass("hidden");
      $(".info-content_5 p").removeClass("hidden");
    }
  });
  // お知らせ一覧 ここまで↑ //

  // 営業時間 フェードアップここから↓ //
  $(function () {
    $("#money_e").on("mousemove", function () {
      $(".price").css("visibility", "visible");
      $(".price span").addClass("show_up1");
    });
  });

  // スマホ対応
  $(function () {
    $("#money_e").on("touchstart", function () {
      $(".price").css("visibility", "visible");
      $(".price span").addClass("show_up1");
    });
  });
  // 営業時間 フェードアップここまで↑ //
</script>
